@model CoffeBeanFlowDB.Models.RCinmadurasItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RCinmadurasItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gbx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gbx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_inmaduras">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
