@model CoffeBeanFlowDB.Models.PesoVerdeItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PesoVerdeItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Winferiores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Winferiores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wfinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wfinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WFinferior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WFinferior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_PesoTrilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_PesoTrilla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_PesoVerde">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
