@model IEnumerable<CoffeBeanFlowDB.Models.TermoHigrometriaItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hrelativa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinterna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texterna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Secado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hrelativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinterna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texterna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Secado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Termo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Termo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Termo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
