@model CoffeBeanFlowDB.Models.Registro_FormularioItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registro_FormularioItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_sobremaduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_sobremaduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_maduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_maduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_inmaduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_inmaduras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Formulario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
