@model CoffeBeanFlowDB.Models.Area_AcopioItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Area_AcopioItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rsobreobjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rsobreobjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enproceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enproceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nrecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nrecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nproductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nproductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nfinca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nfinca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Despulpado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Despulpado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psegundas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psegundas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDmecanicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDmecanicos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPulpaPergamino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPulpaPergamino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPergaminoPulpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPergaminoPulpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DFruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DFruta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpergamino_humedo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpergamino_humedo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Secado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Secado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Nlote">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
