@model CoffeBeanFlowDB.Models.TrillaItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrillaItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psegundas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psegundas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pmenudos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pmenudos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pinferiores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pinferiores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pmadres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pmadres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pprimera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pprimera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pcaracolillo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pcaracolillo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pescogeduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pescogeduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pbarreduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pbarreduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pcataduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pcataduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POinferiores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POinferiores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RTeoricoSeleccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RTeoricoSeleccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RTeoricoPelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RTeoricoPelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RfinalPelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RfinalPelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RfinalSeleccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RfinalSeleccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WVerdeFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WVerdeFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WVerdeTeorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WVerdeTeorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFinalReposo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFinalReposo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nlote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nlote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Trilla">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
