@model IEnumerable<CoffeBeanFlowDB.Models.TrillaItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Psegundas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pmenudos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pinferiores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pmadres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pprimera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pcaracolillo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pescogeduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pbarreduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pcataduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POinferiores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RTeoricoSeleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RTeoricoPelado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RfinalPelado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RfinalSeleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WVerdeFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WVerdeTeorico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FFinalReposo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nlote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Psegundas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pmenudos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pinferiores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pmadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pprimera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pcaracolillo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pescogeduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pbarreduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pcataduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POinferiores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RTeoricoSeleccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RTeoricoPelado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfinalPelado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfinalSeleccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WVerdeFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WVerdeTeorico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FFinalReposo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nlote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Trilla">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Trilla">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Trilla">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
