@model CoffeBeanFlowDB.Models.SecadoItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SecadoItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dsecado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dsecado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psolar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psolar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pmecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pmecanico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ffinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ffinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nlote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nlote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Secado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
