@model CoffeBeanFlowDB.Models.CatacionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CatacionItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FFreposo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FFreposo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nlote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nlote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defectuoso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defectuoso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limpio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limpio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCcverde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCcverde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rtostado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rtostado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dtueste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dtueste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCcalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCcalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pfinales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pfinales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAgtron)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAgtron)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1negro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1negro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1ME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1ME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1insectos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1insectos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1cerezaseca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1cerezaseca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1hongos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1hongos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C1agrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C1agrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2pergamino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2pergamino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2inmaduro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2inmaduro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2negroP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2negroP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2agrioP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2agrioP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2cascara_pulpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2cascara_pulpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2insectos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2insectos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2averanado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2averanado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2partido_cortado_mordido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2partido_cortado_mordido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2concha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2concha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C2flotador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C2flotador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catorce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catorce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dieciseis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dieciseis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diecisiete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diecisiete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dieciocho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dieciocho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diecinueve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diecinueve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veinte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veinte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TresSobreDieciseis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TresSobreDieciseis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residuo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Residuo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_catacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
