@model IEnumerable<CoffeBeanFlowDB.Models.Gbx_madurasItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_maduras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_maduras)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Gbx_maduras">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Gbx_maduras">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Gbx_maduras">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
