@model CoffeBeanFlowDB.Models.Formulario_CaracterizacionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formulario_CaracterizacionItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinmaduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinmaduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csobremaduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csobremaduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cverdes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cverdes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCdebajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCdebajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DRmaduras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DRmaduras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mtabla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mtabla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCverdes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCverdes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCsecas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCsecas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCencima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCencima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emaduracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emaduracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Broca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Broca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Densidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Densidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vanos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vanos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCobjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCobjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nlote_AreaAcopio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nlote_AreaAcopio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Tiempo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
