@model IEnumerable<CoffeBeanFlowDB.Models.Formulario_CaracterizacionItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cinmaduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csobremaduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csecas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cobjetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cverdes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCdebajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DRmaduras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mtabla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCverdes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCsecas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCencima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emaduracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Broca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Densidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vanos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PCobjetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nlote_AreaAcopio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cinmaduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Csobremaduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Csecas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cobjetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cverdes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCdebajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DRmaduras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mtabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCverdes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCsecas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCencima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emaduracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Broca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Densidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vanos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCobjetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nlote_AreaAcopio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tiempo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tiempo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tiempo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
